@import '../config';

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .2rem;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

button {
    background-color: $primary-color;
    border: 3px solid $muted-color;
    border-radius: 5px;
    color: $secondary-color;
    cursor: pointer;
    font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    @include transition-ease;

    &:hover {
        border: 3px solid $accent-color-one;
        @include transition-ease;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100vw;

    header {
        align-items: center;
        background-color: $primary-color;
        display: flex;
        flex-direction: row;
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        justify-content: space-between;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;

        .siteTitle {
            font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 0 0 1rem;
            width: 15vw;

            h1 {
                margin: 0;
                padding: 1rem 1rem 0;
                text-transform: capitalize;
    
                i {
                    color: $muted-color;
                    text-shadow: 0 0 10px $accent-color-one;
                }
            }

            small {
                text-transform: capitalize;
            }
        }

        .logbtn {
            width: 15vw;
        }
    }

    main {
        display: grid;
        grid-row: 2 / 2;
        grid-template-columns: auto 1fr auto;

        .home {
            align-items: center;
            background-image:
                linear-gradient(to right,
                rgba($secondary-color, 0.5),
                rgba($secondary-color, 0.5)),
                url('../../images/spires-manhattan-1.jpg');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            border: 3px solid $primary-color;
            box-shadow: inset 0 0 0 5px $accent-color-one;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            text-align: center;
            width: 100vw;

            &.auth {
                width: 85vw;
            }

            .intro {
                background-color: $muted-color;
                border: 3px solid $accent-color-one;
                border-radius: 10px;
                color: $accent-color-one;
                opacity: 0.9;
                padding: 5rem;

                p {
                    font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1.2rem;
                    letter-spacing: .3rem;
                    padding: 1rem;
                }
            }
        }

        .itemOne {
            align-items: center;
            background-color: $muted-color;
            border: 3px solid $primary-color;
            box-shadow: inset 0 0 0 5px $accent-color-one;
            color: $primary-color;
            display: flex;
            flex-direction: column;
            grid-column: 1 / 1;
            height: 75%;
            justify-content: flex-start;
            padding: 3vh 1vw;
            text-align: center;
            width: 15vw;

            img {
                border: 3px solid $secondary-color;
                border-radius: 50%;
            }

            nav {
                height: 100%;
                width: 100%;

                ul {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;

                    li {
                        margin: 0.5rem;
                        padding: 0.5rem;

                        a {
                            border-bottom: 1px solid $accent-color-one;
                            border-radius: 5px;
                            padding: 0.5rem;
                            @include transition-ease;

                            &:hover {
                                border: 1px solid $accent-color-one;
                                @include transition-ease;
                            }
                        }
                    }
                }
            }
        }

        .itemTwo {
            background-image:
                linear-gradient(to right,
                rgba($secondary-color, 0.5),
                rgba($secondary-color, 0.5)),
                url('../../images/spires-manhattan-1.jpg');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            border: 3px solid $primary-color;
            box-shadow: inset 0 0 0 5px $accent-color-one;
            display: grid;
            grid-column: 2 / -1;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 1fr;
            width: 85vw;

            .title {
                background-color: $muted-color;
                border: 3px solid $accent-color-one;
                color: $accent-color-one;
                display: grid;
                grid-column: 1 / -1;
                grid-row: 1 / 1;
                grid-template-columns: 1fr 1fr 1fr;
                justify-content: center;
                letter-spacing: .3rem;
                padding: 1rem;
                text-transform: uppercase;
                width: 84.5vw;

                .item {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;

                    &.one {
                        grid-column: 1 / 1;
                    }

                    &.two {
                        grid-column: 2 / 2;
                    }

                    &.three {
                        grid-column: 3 / -1;
                    }
                }

                h2 {
                    grid-column: 2 / 2;
                    margin: 0;
                }

                i {
                    color: $primary-color;
                    cursor: pointer;
                    font-size: 1.5rem;
                    @include transition-ease;

                    &:hover {
                        color: $accent-color-one;
                        @include transition-ease;
                    }
                }
            }

            form {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: center;
                width: 84.5vw;

                label {
                    color: $primary-color;
                    font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 700;
                    margin: 1rem;
                    text-transform: uppercase;
                    width: 100%;
                }

                input {
                    background-color: $accent-color-one;
                    border: 3px solid $muted-color;
                    font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1.2rem;
                    margin: 0.5rem;
                    padding: 1rem;
                    width: 50%;
                }

                textarea {
                    background-color: $accent-color-one;
                    border: 3px solid $muted-color;
                    font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1.2rem;
                    padding: 1rem;
                    width: 50%;
                }

                .form-dateTime {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;
                    width: 50%;

                    .item {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        width: 50%;
                    }
                }

                .form-btns{
                    border: 1px solid black;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 50%;
                }
            }

            .body {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
                grid-template-rows: repeat(auto-fit, minmax(100px, 1fr) );
                height: 100%;
                padding: 0.5rem;
                width: 84.5vw;

                a {
                    align-items: center;
                    background-color: $muted-color;
                    border: 3px solid $muted-color;
                    border-radius: 10px;
                    color: $primary-color;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1.2rem;
                    justify-content: center;
                    letter-spacing: .3rem;
                    margin: 0.5rem;
                    padding: 2rem;
                    text-align: center;
                    @include transition-ease;

                    h5 {
                        font-size: 1.2rem;
                        margin: 0.5rem;
                    }

                    &:hover {
                        border: 3px solid $accent-color-one;
                        color: $accent-color-one;
                        @include transition-ease;
                    }
                }

                .viewComments {
                    opacity: 0;
                    position: fixed;
                    transform: translate(125%);
                    visibility: hidden;
                    
                    &.open {
                        opacity: 1;
                        position: relative;
                        transform: translate(0);
                        visibility: visible;
                        @include transition-ease;
                    }
                }

                .comments {
                    align-items: center;
                    background-color: $muted-color;
                    border: 3px solid $accent-color-one;
                    border-radius: 10px;
                    color: $primary-color;
                    display: flex;
                    flex-direction: column;
                    height: 65vh;
                    justify-content: flex-start;
                    overflow-y: auto;
                    text-align: center;
                    @include transition-ease;

                    &-title {
                        border: 3px solid $accent-color-one;
                        border-radius: 5px;
                        color: $muted-color;
                        font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin: 1rem;
                        padding: 0.5rem;
                        text-transform: uppercase;

                        h3 {
                            color: $accent-color-one;
                            letter-spacing: .3rem;
                            margin: 0;
                        }
                    }

                    &-body {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        text-align: center;

                        .comment {
                            align-items: center;
                            background-color: $primary-color;
                            border: 3px solid $accent-color-one;
                            border-radius: 10px;
                            color: $muted-color;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin: 2rem;
                            text-align: center;

                            &-title {
                                align-items: center;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                                text-align: center;
                                transform: translate(0, -50%);

                                h4 {
                                    margin: 0;
                                }
                            

                                .name {
                                    background-color: $muted-color;
                                    border: 3px solid $accent-color-one;
                                    border-radius: 10px;
                                    color: $primary-color;
                                    letter-spacing: .3rem;
                                    padding: 0.5rem;
                                    text-transform: uppercase;
                                }

                                .date {
                                    background-color: $muted-color;
                                    border: 3px solid $accent-color-one;
                                    border-radius: 10px;
                                    color: $primary-color;
                                    letter-spacing: .3rem;
                                    padding: 0.5rem;
                                    text-transform: uppercase;
                                }

                                .time {
                                    background-color: $muted-color;
                                    border: 3px solid $accent-color-one;
                                    border-radius: 10px;
                                    color: $primary-color;
                                    letter-spacing: .3rem;
                                    padding: 0.5rem;
                                    text-transform: uppercase;
                                }
                            }

                            p {
                                margin: 0;
                                padding: 0 1rem 1rem;
                            }
                        }
                    }
                }

                .kanban {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: row;
                    height: 65vh;
                    justify-content: space-around;
                    overflow-y: auto;
                    text-align: center;

                    .item {
                        border: 3px solid $accent-color-one;
                        box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
                        height: 100%;
                        width: 33%;

                        h3 {
                            background-color: $accent-color-one;
                            font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            letter-spacing: .3rem;
                            margin: 0;
                            padding: 1rem;
                            text-transform: uppercase;
                        }

                        .task {
                            align-items: center;
                            background-color: $muted-color;
                            border-radius: 10px;
                            color: $primary-color;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            margin: 0.5rem;
                            padding: 0.5rem;
                            text-align: center;
                            @include transition-ease;

                            &-title {
                                align-items: center;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                                width: 100%;

                                span {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }

                            &-body {
                                color: $muted-color;
                                font-size: 0;
                                opacity: 0;
                                @include transition-ease;

                                &.open {
                                    color: $primary-color;
                                    font-size: 1rem;
                                    opacity: 1;
                                    @include transition-ease;
                                }
                            }

                            i {
                                cursor: pointer;
                                font-size: 1.5rem;
                                @include transition-ease;

                                &.open {
                                    transform: rotate(180deg);
                                    @include transition-ease;
                                }

                                &:hover {
                                    color: $accent-color-one;
                                    @include transition-ease;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        align-items: center;
        background-color: $muted-color;
        border: 3px solid $primary-color;
        box-shadow: inset 0 0 0 5px $accent-color-one;
        color: $accent-color-one;
        display: flex;
        flex-direction: column;
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        justify-content: center;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
    }
}