@import '../config';

* {
    box-sizing: border-box;
}

body {
    background-color: $bg-default-color;
    color: $primary-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .1rem;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100vw;

    header {
        align-items: center;
        background-color: $secondary-color;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-row: 1 / 1;
        justify-content: space-between;
        padding: 1rem;
        width: 100vw;
        @include transition-ease;

        .siteTitle {
            color: $primary-color;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 2.5rem;
                letter-spacing: .1rem;
                margin: 0 0 1vh;

                i {
                    padding: 0 1.5rem 0 0;
                }
            }

        }

        button {
            background-color: $primary-color;
            border-radius: 10px;
            color: $secondary-color;
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            letter-spacing: .1rem;
            margin: 1rem;
            padding: .5rem;

            &:hover {
                opacity: 0.9;
            }
        }
    }

    main {
        background: url("../../images/Forest-Frog-Rain.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-row: 2 / 2;
        height: 100%;
        @include transition-ease-delay-one;

        .loading {
            align-items: center;
            display: flex;
            color: $primary-color;
            justify-content: center;
            text-align: center;
        }

        .item {
            align-items: center;
            background-color: $primary-color;
            border: 5px solid $secondary-color;
            color: $secondary-color;
            display: flex;
            flex-direction: column;
            margin: 1rem;
            opacity: 0.9;
            padding: 1rem;
            text-align: center;

            &.item1 {
                font-weight: 600;
                grid-column: 1 / 1;

                img {
                    border: 5px solid $secondary-color;
                    border-radius: 50%;
                }
            }

            &.item2 {
                grid-column: 2 / -1;

                h2 {
                    border-bottom: 3px solid $secondary-color;
                    padding: 0 0 1rem 0;
                    width: 100%;
                }

                form {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;

                    label {
                        font-size: 1.2rem;
                        margin: 2rem 0 0;
                    }
                }

                .kanban {
                    display: flex;
                    flex-direction: row;

                    h3 {
                        border-bottom: 3px solid $secondary-color;
                    }
                }
            }
        }

        .non-auth {
            align-items: center;
            color: $primary-color;
            display: flex;
            flex-direction: column;
            grid-column: 2 / -1;
            justify-content: center;
            text-align: center;

            .intro {
                background-color: $secondary-color;
                border: 3px solid $primary-color;
                margin: 10vh 0 0 0;
                opacity: 0.8;
                padding: 1rem;
            }
        }
    }

    footer {
        align-items: center;
        background-color: $secondary-color;
        color: $primary-color;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        grid-row: 3 / -1;
        justify-content: center;
        text-align: center;
        width: 100vw;
        @include transition-ease;
    }
}