@import '../config';

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

button {
    background-color: $primary-color;
    border: 3px solid $muted-color;
    border-radius: 5px;
    color: $secondary-color;
    cursor: pointer;
    font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    @include transition-ease;

    &:hover {
        border: 3px solid $accent-color-one;
        @include transition-ease;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.spinner {
    align-items: center;
    background-color: $muted-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

.app {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100vw;

    main {
        display: grid;
        grid-row: 2 / 2;
        grid-template-columns: auto 1fr;
        width: 100vw;

        .itemTwo {
            background-image:
                linear-gradient(to right,
                rgba($secondary-color, 0.5),
                rgba($secondary-color, 0.5)),
                url('../../images/spires-manhattan-1.jpg');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            border: 3px solid $primary-color;
            box-shadow: inset 0 0 0 5px $accent-color-one;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 1fr;

            .error {
                align-items: center;
                background-color: $muted-color;
                color: $primary-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                position: absolute;
                text-align: center;

                a {
                    border: 3px solid $primary-color;
                    border-radius: 10px;
                    font-size: 2rem;
                    margin: 5rem;
                    padding: 1rem;
                    @include transition-ease;

                    &:hover {
                        border: 3px solid $accent-color-one;
                        @include transition-ease;
                    }
                }
            }

            .body {

                .viewComments {
                    opacity: 0;
                    position: fixed;
                    transform: translate(125%);
                    visibility: hidden;
                    
                    &.open {
                        opacity: 1;
                        position: relative;
                        transform: translate(0);
                        visibility: visible;
                        @include transition-ease;
                    }
                }

                .comments {
                    align-items: center;
                    background-color: $muted-color;
                    border: 3px solid $accent-color-one;
                    border-radius: 10px;
                    color: $primary-color;
                    display: flex;
                    flex-direction: column;
                    height: 65vh;
                    justify-content: flex-start;
                    overflow-y: auto;
                    text-align: center;
                    @include transition-ease;

                    &-title {
                        border: 3px solid $accent-color-one;
                        border-radius: 5px;
                        color: $muted-color;
                        font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin: 1rem;
                        padding: 0.5rem;
                        text-transform: uppercase;

                        h3 {
                            color: $accent-color-one;
                            letter-spacing: .3rem;
                            margin: 0;
                        }
                    }

                    i {
                        color: $primary-color;
                        cursor: pointer;
                        font-size: 1.5rem;
                        margin: 1rem;
                        padding: 0.5rem;
                        @include transition-ease;

                        &:hover {
                            color: $accent-color-one;
                            @include transition-ease;
                        }
                    }

                    form {
                        border: 3px solid $accent-color-one;
                    }

                    &-body {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        text-align: center;

                        .comment {
                            align-items: center;
                            background-color: $primary-color;
                            border: 3px solid $accent-color-one;
                            border-radius: 10px;
                            color: $muted-color;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin: 5rem;
                            text-align: center;

                            i {
                                color: $primary-color;
                                cursor: pointer;
                                font-size: 1rem;
                                margin: 1rem;
                                padding: 0.5rem;
                                @include transition-ease;
        
                                &:hover {
                                    color: $accent-color-one;
                                    @include transition-ease;
                                }
                            }

                            &-title {
                                align-items: center;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                                text-align: center;
                                transform: translate(0, -50%);

                                h4 {
                                    margin: 0;
                                }
                            

                                .name {
                                    background-color: $muted-color;
                                    border: 3px solid $accent-color-one;
                                    border-radius: 10px;
                                    color: $primary-color;
                                    letter-spacing: .3rem;
                                    padding: 0.5rem;
                                    text-transform: uppercase;
                                }

                                .date {
                                    background-color: $muted-color;
                                    border: 3px solid $accent-color-one;
                                    border-radius: 10px;
                                    color: $primary-color;
                                    letter-spacing: .3rem;
                                    padding: 0.5rem;
                                    text-transform: uppercase;
                                }

                                .time {
                                    background-color: $muted-color;
                                    border: 3px solid $accent-color-one;
                                    border-radius: 10px;
                                    color: $primary-color;
                                    letter-spacing: .3rem;
                                    padding: 0.5rem;
                                    text-transform: uppercase;
                                }
                            }

                            p {
                                margin: 0;
                                padding: 0 1rem 1rem;
                            }
                        }
                    }
                }

                .kanban {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: row;
                    height: 65vh;
                    justify-content: space-around;
                    overflow-y: auto;
                    text-align: center;

                    .item {
                        border: 3px solid $accent-color-one;
                        box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
                        height: 100%;
                        overflow-x: auto;
                        padding: 0 0 5vh;
                        width: 33%;

                        &-title {
                            align-items: center;
                            background-color: $accent-color-one;
                            display: flex;
                            flex-direction: row;
                            font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            justify-content: center;
                            letter-spacing: .3rem;
                            padding: 1rem;
                            text-align: center;
                            text-transform: uppercase;

                            a {
                                margin: 0;
                                padding: 0.5rem;
                            }
                        }

                        h3 {
                            margin: 0; 
                        }

                        .task {
                            align-items: center;
                            background-color: $muted-color;
                            border-radius: 10px;
                            color: $primary-color;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            margin: 0.5rem;
                            padding: 0.5rem;
                            text-align: center;
                            @include transition-ease;

                            &-title {
                                align-items: center;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                                width: 100%;

                                span {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }

                            &-body {
                                color: $muted-color;
                                font-size: 0;
                                opacity: 0;
                                @include transition-ease;

                                &.open {
                                    color: $primary-color;
                                    font-size: 1rem;
                                    opacity: 1;
                                    @include transition-ease;
                                }
                            }

                            i {
                                cursor: pointer;
                                font-size: 1.5rem;
                                @include transition-ease;

                                &.open {
                                    transform: rotate(180deg);
                                    @include transition-ease;
                                }

                                &:hover {
                                    color: $accent-color-one;
                                    @include transition-ease;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}