* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F8F8FF;
  color: #000000;
  font-family: Marvel, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .2rem;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

button {
  background-color: #F8F8FF;
  border: 3px solid #191919;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

button:hover {
  border: 3px solid #C6B677;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100vw;
}

.app header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.app header .siteTitle {
  font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 0 1rem;
  width: 15vw;
}

.app header .siteTitle h1 {
  margin: 0;
  padding: 1rem 1rem 0;
  text-transform: capitalize;
}

.app header .siteTitle h1 i {
  color: #191919;
  text-shadow: 0 0 10px #C6B677;
}

.app header .siteTitle small {
  text-transform: capitalize;
}

.app header .logbtn {
  width: 15vw;
}

.app main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
}

.app main .home {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../../images/spires-manhattan-1.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/spires-manhattan-1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border: 3px solid #F8F8FF;
  -webkit-box-shadow: inset 0 0 0 5px #C6B677;
          box-shadow: inset 0 0 0 5px #C6B677;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100vw;
}

.app main .home.auth {
  width: 85vw;
}

.app main .home .intro {
  background-color: #191919;
  border: 3px solid #C6B677;
  border-radius: 10px;
  color: #C6B677;
  opacity: 0.9;
  padding: 5rem;
}

.app main .home .intro p {
  font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  letter-spacing: .3rem;
  padding: 1rem;
}

.app main .itemOne {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
  border: 3px solid #F8F8FF;
  -webkit-box-shadow: inset 0 0 0 5px #C6B677;
          box-shadow: inset 0 0 0 5px #C6B677;
  color: #F8F8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 3vh 0 0;
  text-align: center;
  width: 15vw;
}

.app main .itemOne img {
  border: 3px solid #000000;
  border-radius: 50%;
}

.app main .itemOne nav {
  height: 100%;
  width: 100%;
}

.app main .itemOne nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.app main .itemOne nav ul li {
  margin: 0.5rem;
  padding: 0.5rem;
}

.app main .itemOne nav ul li a {
  border-bottom: 1px solid #C6B677;
  border-radius: 5px;
  padding: 0.5rem;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.app main .itemOne nav ul li a:hover {
  border: 1px solid #C6B677;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.app main .itemTwo {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../images/spires-manhattan-1.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/spires-manhattan-1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border: 3px solid #F8F8FF;
  -webkit-box-shadow: inset 0 0 0 5px #C6B677;
          box-shadow: inset 0 0 0 5px #C6B677;
  display: -ms-grid;
  display: grid;
  grid-column: 2 / -1;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  width: 85vw;
}

.app main .itemTwo .title {
  background-color: #191919;
  border: 3px solid #C6B677;
  color: #C6B677;
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .3rem;
  padding: 1rem;
  text-transform: uppercase;
  width: 84.5vw;
}

.app main .itemTwo .title .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.app main .itemTwo .title .item.one {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.app main .itemTwo .title .item.two {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
}

.app main .itemTwo .title .item.three {
  grid-column: 3 / -1;
}

.app main .itemTwo .title h2 {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  margin: 0;
}

.app main .itemTwo .title i {
  cursor: pointer;
  font-size: 1.5rem;
}

.app main .itemTwo form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  width: 84.5vw;
}

.app main .itemTwo form label {
  color: #F8F8FF;
  font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin: 1rem;
  text-transform: uppercase;
  width: 100%;
}

.app main .itemTwo form input {
  background-color: #C6B677;
  border: 3px solid #191919;
  font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 1rem;
  width: 50%;
}

.app main .itemTwo form textarea {
  background-color: #C6B677;
  border: 3px solid #191919;
  font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
  width: 50%;
}

.app main .itemTwo form .form-dateTime {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 50%;
}

.app main .itemTwo form .form-dateTime .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 50%;
}

.app main .itemTwo form .form-btns {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.app main .itemTwo .body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  -ms-grid-rows: (minmax(100px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  padding: 0.5rem;
  width: 84.5vw;
}

.app main .itemTwo .body a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
  border: 3px solid #191919;
  border-radius: 10px;
  color: #F8F8FF;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .3rem;
  margin: 0.5rem;
  padding: 2rem;
  text-align: center;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.app main .itemTwo .body a h5 {
  font-size: 1.2rem;
  margin: 0.5rem;
}

.app main .itemTwo .body a:hover {
  border: 3px solid #C6B677;
  color: #C6B677;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.app main .itemTwo .body .kanban {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.app main .itemTwo .body .kanban .item {
  border: 3px solid #C6B677;
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  height: 100%;
  width: 33%;
}

.app main .itemTwo .body .kanban .item h3 {
  background-color: #C6B677;
  font-family: Genos, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .3rem;
  margin: 0;
  padding: 1rem;
  text-transform: uppercase;
}

.app main .itemTwo .body .kanban .item .task {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
  border-radius: 10px;
  color: #F8F8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.app main .itemTwo .body .kanban .item .task-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.app main .itemTwo .body .kanban .item .task-title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app main .itemTwo .body .kanban .item .task-body {
  color: #191919;
  font-size: 0;
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.app main .itemTwo .body .kanban .item .task-body.open {
  color: #F8F8FF;
  font-size: 1rem;
  opacity: 1;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.app main .itemTwo .body .kanban .item .task i {
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.app main .itemTwo .body .kanban .item .task i.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.app main .itemTwo .body .kanban .item .task i:hover {
  color: #C6B677;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.app main .itemThree {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
  border: 3px solid #F8F8FF;
  -webkit-box-shadow: inset 0 0 0 5px #C6B677;
          box-shadow: inset 0 0 0 5px #C6B677;
  color: #F8F8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: 3 / -1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  width: 15vw;
}

.app footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
  border: 3px solid #F8F8FF;
  -webkit-box-shadow: inset 0 0 0 5px #C6B677;
          box-shadow: inset 0 0 0 5px #C6B677;
  color: #C6B677;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
/*# sourceMappingURL=global.css.map */