form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5vh 0;
  text-align: center;
}

form label {
  background-color: #191919;
  border: 3px solid #C6B677;
  border-radius: 10px;
  color: #F8F8FF;
  font-family: Jura, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 0.5rem;
  text-transform: capitalize;
}

form input {
  background-color: #C6B677;
  border: 3px solid #191919;
  border-radius: 10px;
  font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 0 1rem 1.5rem;
  padding: 0.5rem;
}

form textarea {
  background-color: #C6B677;
  border: 3px solid #191919;
  border-radius: 10px;
  font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 0 1rem 1.5rem;
  padding: 0.5rem;
}

form button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8FF;
  border: 3px solid #191919;
  border-radius: 5px;
  color: #191919;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.13rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

form button i {
  font-size: 1.5rem;
  padding: 0 0 0.3rem;
}

form button:hover {
  border: 3px solid #C6B677;
}

.projects {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../../images/spires-manhattan-1.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../images/spires-manhattan-1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border: 3px solid #F8F8FF;
  -webkit-box-shadow: inset 0 0 0 5px #C6B677;
          box-shadow: inset 0 0 0 5px #C6B677;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.projects-title {
  background-color: #191919;
  border: 3px solid #C6B677;
  -webkit-box-shadow: inset 0 0 0 3px #C6B677;
          box-shadow: inset 0 0 0 3px #C6B677;
  color: #C6B677;
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  text-transform: uppercase;
}

.projects-title .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.projects-title .item button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
  border: 0;
  color: #F8F8FF;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.13rem;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.projects-title .item button i {
  font-size: 1rem;
  padding: 0 0 0.2rem;
}

.projects-title .item button:hover {
  opacity: 0.9;
}

.projects-title .item button:hover i {
  color: #C6B677;
}

.projects-title .item-one {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.projects-title .item-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  grid-column: 2 / 2;
}

.projects-title .item-two h2 {
  letter-spacing: .3rem;
  margin: 0;
}

.projects-body {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 1rem;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  -ms-grid-rows: (minmax(100px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  height: 100%;
  margin: 0 0.5rem;
  overflow-y: auto;
  padding: 0.5rem;
}

.projects-body .project {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
  border: 3px solid #191919;
  border-radius: 10px;
  color: #F8F8FF;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.projects-body .project h5 {
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
}

.projects-body .project:hover {
  border: 3px solid #C6B677;
  color: #C6B677;
}

.projects-form {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  margin: 0 0.5rem;
  overflow-x: auto;
  padding: 0.5rem;
}

.projects-kanban {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0.5rem;
  padding: 0 0.5rem;
  text-align: center;
}

.projects-kanban .item {
  border: 3px solid #C6B677;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0.5rem;
  width: 100%;
}

.projects-kanban .item button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
  border: 0;
  color: #F8F8FF;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.13rem;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.projects-kanban .item button i {
  font-size: 1.75rem;
  margin: 0.5rem;
  padding: 0 0 0.2rem;
}

.projects-kanban .item button:hover {
  opacity: 0.9;
}

.projects-kanban .item button:hover i {
  color: #C6B677;
}

.projects-kanban .item-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C6B677;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  text-align: center;
}

.projects-kanban .item-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  padding: 0 0.5rem 15vh;
  overflow-y: auto;
}

.projects-kanban .item-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  padding: 0 0.5rem 15vh;
  overflow-y: auto;
}

.projects-kanban .item-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  padding: 0 0.5rem 15vh;
  overflow-y: auto;
}

.projects-kanban .item .task {
  background-color: #191919;
  border: 3px solid #C6B677;
  border-radius: 10px;
  color: #F8F8FF;
  margin: 1rem;
}

.projects-kanban .item .task-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  text-transform: uppercase;
}
/*# sourceMappingURL=projects.css.map */