$primary: #f1f1f1;
$secondary: #1f1f1f;

$green-bright: #c5e7e2;
$green-light: #acfcd9;
$green-medium: #2a7221;
$green-dark: #1e441e;
$green-shadow: #152614;

$blue-bright: #82ddf0;
$blue-light: #a0d2db;

$purple-light: #ad9baa;