$primary: #f1f1f1;
$secondary: #1f1f1f;

//$green-bright: #31cb00;
$green-bright: #acfcd9;
$green-light: #119822;
$green-medium: #2a7221;
$green-dark: #1e441e;
$green-shadow: #152614;

$blue-bright: #c5e7e2;

$purple-light: #ad9baa;