@import '../config';

.sideBar {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 1;
    justify-content: flex-start;
    padding: 0.5rem;
    text-align: center;
    
    &-user {
        padding: 0.5rem;

        img {
            border: 3px solid $muted-color;
            border-radius: 10px;
            max-width: 50%;
        }

    }

    &-nav {
        padding: 1rem 0;
        text-transform: capitalize;
        width: 100%;

        ul {

            li {
                margin: 0.7rem 0;

                a {
                    background-color: $primary-color;
                    border: 3px solid black;
                    border-radius: 5px;
                    padding: 0.2rem 0.8rem;
                    @include transition-ease;

                    &:hover {
                        border: 3px solid $accent-color-one;
                        @include transition-ease;
                    }
                }

            }

        }

    }

}