@use "../settings/" as *;

#home {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    & > div {
        align-items: center;
        background: $secondary;
        border-radius: $border-radius;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        color: $primary;
        display: flex;
        flex-direction: column;
        grid-column: 2 / 6;
        grid-row: 2 / 6;
        justify-content: center;
        padding: $padding;
    }
}