@use "../settings/" as *;
@use "sass:math";

#login {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $gap * 2;
    justify-content: center;
    margin: $margin * 8;
    h2 {
        text-transform: none;
    }
    & > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: math.div($gap, 2);
        button {
            border: 2px groove rgba($secondary, 0.1);
            border-radius: math.div($border-radius, 2);
            font-weight: bold;
            letter-spacing: 0.033rem;
            padding: $padding $padding * 2;
            width: 100%;
            &:hover {
                border: 2px outset rgba($secondary, 0.1);
                opacity: 0.9;
            }
            &:first-child {
                background: $purple-light;
            }
            &:nth-child(2) {
                background: $blue-light;
            }
        }
        a {
            color: blue;
            text-transform: capitalize;
            &:visited {
                color: blueviolet;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}