@use "../settings/" as *;
@use "sass:math";

#projects {
    grid-template-rows: auto 1fr;
    & > div {
        background: rgba($secondary, 0.33);
        border: 2px outset rgba($secondary, 0.33);
        border-radius: math.div($border-radius, 2);
        display: grid;
        gap: 12px;
        grid-template-columns: repeat(4, 1fr);
        max-height: 675px;
        overflow-y: auto;
        padding: $padding;
        & > div {
            background: $primary;
            border-radius: math.div($border-radius, 2);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            max-height: 225px;
            padding: $padding;
            &:hover {
                scale: 1.025;
            }
        }
    }
}