@import './config';

@include media-mobile {

    .app {

        header {
            border: 1px solid black;
        }

        main {
            display: flex;
            flex-direction: column;
            grid-row: 2 / 2;
            height: 100%;
            overflow-y: auto;
            width: 100vw;

            .projects {
                height: 100vh;
                overflow-y: auto;

                &-form { 
                    height: 130vh;
                    margin: 0 2rem;
                    overflow-y: auto;
                }
            }

            .sideBar {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 5vh;
                margin: 2rem;
                padding: 10vh 0 0;
                text-align: center;

                img {
                    visibility: hidden;
                    width: 0;
                }
            }
        }
    }
}

@include media-desktop {

    .app {

        main {
            display: grid;
            grid-row: 2 / 2;
            grid-template-columns: auto 1fr;
            padding: 7vh 0 4vh;
            width: 100vw;

            .sideBar {
                align-items: center;
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                grid-column: 1 / 1;
                justify-content: flex-start;
                padding: 0.5rem;
                text-align: center;
            }
        }
    }
}