@import '../config';

.projectsList {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;

    .project {
        background-color: $secondary-color;
        color: $primary-color;
        margin: 0.5rem;
        padding: 1rem;

        h4 {
            text-decoration: underline;
            text-transform: uppercase;
        }

        p {
            text-transform: lowercase;
        }
    }
}