button {
    cursor: pointer;
    letter-spacing: 0.033rem;
    text-transform: capitalize;
}

.Header-auth-btn {
    background-color: var(--secondary);
    border: none;
    border-radius: 4px;
    color: var(--primary);
    font-size: var(--14px);
    height: 32px;
    opacity: 0.9;
    transition: 0.3s ease-in-out;
    width: 80px;
}

.Header-auth-btn:hover {
    opacity: 1.0;
}