@import '../config';

header {
    align-items: center;
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;

    .appTitle {
        padding: 0.5rem 1.72rem;
        text-transform: capitalize;

        h1 {
            font-family: Jura, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin: 0;
        }

    }

    button {
        background-color: $primary-color;
        border: 3px solid $muted-color;
        border-radius: 5px;
        color: $secondary-color;
        cursor: pointer;
        letter-spacing: 0.2rem;
        margin: 0.5rem;
        padding: 0.5rem;
        text-transform: uppercase;
        @include transition-ease;
    
        &:hover {
            border: 3px solid $accent-color-one;
            @include transition-ease;
        }
        
    }
    
}