@use "./settings/" as *;
@use "sass:math";

* {
    box-sizing: border-box;
    margin: 0;
}

button {
    cursor: pointer;
    text-transform: capitalize;
}

body {
    background: $primary;
    color: $secondary;
    .app {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        & > * {
            grid-template-columns: repeat(6, 1fr);
            padding: $padding;
        }
        header {
            font-family: 'Exo 2', sans-serif;
            gap: $gap;
            text-transform: capitalize;
            & > div {
                align-items: center;
                display: flex;
                &:first-child {
                    button {
                        align-items: center;
                        background: transparent;
                        border: none;
                        display: flex;
                        gap: math.div($gap, 2);
                        i {
                            color: $green-bright;
                            font-size: 2.2rem;
                        }
                    }
                }
                &:last-child {
                    gap: $gap;
                    grid-column: 3 / -1;
                    justify-content: flex-end;
                    button {
                        background: $secondary;
                        border: $border solid transparent;
                        border-radius: $border-radius;
                        color: $primary;
                        font-weight: bold;
                        height: 36px;
                        letter-spacing: 0.033rem;
                        width: 72px;
                        &:hover {
                            opacity: 0.9;
                        }
                    }
                }
            }
        }
    }
}