header {
    background: #2f2f2f;
    color: #ddd;
    display: grid;
    grid-row: 1 / 1;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    position: sticky;
    text-transform: capitalize;
    top: 0;
}

.header-first, .header-second, .header-third {
    align-items: center;
    display: flex;
    padding: 36px;
}

.header-first {
    justify-content: flex-start;
}

.header-second {
    justify-content: center;
}

.header-third {
    justify-content: flex-end;
}